@charset "UTF-8";

@media screen and (max-width: 768px) {

    header {
        justify-content: center;
        align-items: center;
    }

    header > h1 {
        text-align: center;
    }

    nav {
        padding: 0px;
    }

}