@charset "UTF-8";

@media screen and (max-width: 501px) {

    :root {
        --cor01: #F2F2F2;
        --cor02: #BFBFBD;
        --cor03: #73716F;
        --cor04: #246e66;
        --cor05: #012623;
    
        --fonte1: 'Platypi', serif;
        --fonte2: Arial, Helvetica, sans-serif;
    }

    header {
        justify-content: center;
        align-items: center;
    }

    header > h1 {
        text-align: center;
    }

    header > p {
        display: none;
        flex: 0 0 400px;
        text-align: center;
        color: var(--cor04);
    }

    nav {
        padding: 0px;
    }

    nav > a {
        font-family: var(--fonte2);
    }

    .ai12345 {
        height: 380px;
    }

}