@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--fonte2);
}

:root {
    --cor01: #F2F2F2;
    --cor02: #BFBFBD;
    --cor03: #73716F;
    --cor04: #246e66;
    --cor05: #012623;

    --fonte1: 'Platypi', serif;
    --fonte2: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #b1afaf;
}

header {
    background-color: var(--cor02);
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: var(--cor04);
    font-family: var(--fonte1);

    flex: 0 0 400px;
}

header p {
    display: none;
    flex: 0 0 400px;
    text-align: center;
    color: var(--cor04);
}

nav {
    display: flex;
}

nav > a {
    color: var(--cor04);
    border : 1px solid var(--cor04);
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
    font-family: var(--fonte1);
    width: 60px;
    text-align: center;
}

nav > a:hover {
    background-color: var(--cor04);
    color: var(--cor02);
    transition-duration: 0.3s;
}

a {
    text-decoration: none;
}

main {
    margin: 20px auto 20px auto; 
    background-color: var(--cor02);
    max-width: 800px;
    min-width: 300px;
    border-radius: 20px;
}

h2 {
    font-family: var(--fonte1);
    color: var(--cor04);
    padding: 10px;
}

p {
    padding: 10px;
}

a.externo {
    color: var(--cor04);
    font-weight: bold;
}

a.externo::after {
    content: '\00A0\1F517';
}

img {
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 1px;
    font-size: 1em;
}

footer > a {
    color: black;
}

footer > a:hover {
    color: var(--cor04);
    transition-duration: 0.3s;
}